<!DOCTYPE html>

<html>

<head>
  <title>Track</title>
  <%- include("../partials/head.ejs")%>
</head> 

<div class="grid-container">

    <header class="header">
      <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </header>

  <%- include("../partials/header.ejs")%>

    <main class="main">
        <div class =  class-header>
          <div class="form-group">
            <select class="custom-select" id="selectNumber" class="dropbtn"></select>
          </div>

          <button type="button" class="btn btn-primary">
            <a href="/createNewStudent">Create New Student</a>
          </button>
        </div>

         <div class="main-overview" id="demo">
            <!--Loads the Students and Creates Buttons for them-->
            <% students.forEach(function(student) { %>
            <!--Write the desired HTML for each student here -->
            <a href="/student/<%= student.id %>" class = "studentButton <%= student.period %>" >
              <img class = "img-circle" src="/img/studentIcon.png" width = "200" height = "200" >
              <div class = "studentName"><%= student.firstname %></div>
            </a>
            <% }); %>
         </div>

      

    </main>


  <footer class="footer">
      <div class="footer__copyright">&copy; 2019 TRACK</div>
  </footer>

</div>

</html>

<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var sel = document.getElementById('selectNumber');
  var options = ["All students", "1st Period", "2nd Period", "3rd Period", "4th Period", "5th Period", "6th Period", "7th Period", "8th Period", "9th Period", "10th Period",]; 
  for(var i = 0; i < options.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = options[i];
        /*if(i==0) {
          opt.value="/classPage";
        } else {
          opt.value="/classPage";
        }*/
        sel.onchange = function() {
          console.log("changing period");
         //Dropdown1.Selected.Value;
         var studentContainer = document.getElementById('demo');
         for(var j = 0; j < studentContainer.children.length; j++) {
          //console.log("studencontainer.children[0] class: " + studentContainer.children[j].className.split(" ")[1]);
          //console.log("options[i]: "+ options);
          //console.log("i:" + sel.options[sel.selectedIndex].value);
          var studentPeriod = studentContainer.children[j].className.split(" ")[1];
          var currentPeriod = sel.options[sel.selectedIndex].text;
          var currentPeriodSimplified = sel.options[sel.selectedIndex].value[0];
          console.log("studentPeriod: " + studentPeriod);
          console.log("currentPeriod: " + currentPeriod);
          console.log("currentPeriodSimplified: " + currentPeriodSimplified);
          if(currentPeriod != "All students") {
            if(studentPeriod == currentPeriod || studentPeriod == currentPeriodSimplified){
              studentContainer.children[j].style.visibility = "visible";
            } else {
              studentContainer.children[j].style.visibility = "hidden";
            }
          } else {
            studentContainer.children[j].style.visibility = "visible";
          }
         }

        };
          sel.appendChild(opt);


        };
</script>