<!DOCTYPE html>

<html>

<head>
  <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s">
  <title>Class Page</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <script src="jquery-3.5.1.min.js"></script>
  <script src="../js/rangeSlider.js" defer></script>
</head>

<body>
  <!-- NAV BAR -->
<nav>
    <div>
      <h2>TRACK ISD</h2>
    </div>
    <ul>
      <li>
        <a href="/classPage">
          <div>HOME</div>
        </a>
      </li>
      <li>
        <a href="/aboutUs">
          <div>ABOUT</div>
        </a>
      </li>
      <li>
        <a href="/feedback">
          <div>FEEDBACK</div>
        </a>
      </li>
      <li>    
            <div id="tutorialBtn">TUTORIAL</div>
        </li>
      <li>
          <a href="/logout">
            <div>LOGOUT</div>
          </a>
        </li>
    </ul>
  </nav>

    <!-- END NAV BAR -->

  
    <section>
      <!-- <h4>Search</h4> -->
      <div class ="searchAndSelect">
        <input placeholder="What student do you want?" />
        <div class="form-group ">
          <select class="custom-select" id="selectNumber" class="dropbtn"></select> <!--class period selector-->
        </div>
         
        <!-- 
        <div class="select">
          <select name="slct" id="slct">
            <option value="0">All Students</option>
            <option value="1">1st Period</option>
            <option value="2">2nd Period</option>
            <option value="3">3rd Period</option>
            <option value="4">4th Period</option>
            <option value="5">5th Period</option>
            <option value="6">6th Period</option>
            <option value="7">7th Period</option>
          </select>
        </div> 
      </div>-->
    </section>

    <div class="cardContainer" id="studentBox">
      <script>
        console.log("jfjff");
        console.log(localStorage);
        console.log("post jfjfjf");
      </script>
      <a href="/createNewStudent">
        <div class="card">
          <div class="cardInitial">+</div>
        </div>
      </a>
      <!--Loads the Students and Creates Buttons for them-->
      
      <% students.forEach(function(student) { %>

        <% let shouldBreak=false %>
          <% student.userid.forEach(function(id) { %>
            <script>
              console.log("grade");
              console.log("<%=student.grade%>");
              console.log("username", localStorage.getItem("username"))
              console.log("id", "<%=id%>")
            </script>
            <% if (!shouldBreak) { %>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"
                integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ=="
                crossorigin="anonymous"></script>
              <script>
                console.log("username", localStorage.getItem("username"))
                console.log("sha", sha256(localStorage.getItem("username")))
                console.log("id", "<%=id%>")


                if (sha256(localStorage.getItem("username")) === "<%=id%>") {
                  var card = document.createElement("div");
                  card.className = "goalCardName";
                  card.id="<%=student.grade%>";
                  var anchor = document.createElement("a");
                  anchor.href = "/student/<%=student.id%>";
                  anchor.id = "cardContainer";
                  var cardText = document.createElement("div");
                  cardText.className = "card acaedmic text-white bg-primary mb-3";
                  Text.style = "max-width: 20rem;";
                  var cardHeader = document.createElement("div");
                  cardHeader.className = "cardInitial";
                  var initial = "<%=student.firstname%>".charAt(0) + "<%=student.lastname%>".charAt(0);
                  cardHeader.innerHTML = initial;
                  var cardBody = document.createElement("div");
                  var cardTitle = document.createElement("p");
                  cardTitle.className = "cardInfo";
                  cardTitle.innerHTML = "<%=student.firstname%> <%=student.lastname%>";
                  cardBody.appendChild(cardTitle);
                  cardText.appendChild(cardHeader);
                  cardText.appendChild(cardBody);
                  card.appendChild(cardText);
                  anchor.appendChild(card);
                  document.getElementById("studentBox").appendChild(anchor);
                  document.getElementById("studentBox").style = "display: "


                }


              </script>
              <% } %>
                <% } ); %>
                  <% }); %>




    </div>
    </main>
    </div>
    </div>

</body>


<script>

  //console.log(localStorage.getItem("userID"));
  // Close the dropdown if the user clicks outside of it
  
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var sel = document.getElementById('selectNumber');
  var options = ["All students", "Pre-K", "Kindergarten", "1", "2", "3","4", "5", "6", "7", "8", "9", "10", "11", "12"];
  for (var i = 0; i < options.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = options[i];
    sel.appendChild(opt);
  };

  sel.onchange = function () {
    console.log("changing period");
    var input, filter, students, studentChildren, a, i, txtValue, period;
    input = document.getElementById("selectNumber");
    filter = input.selectedIndex;
    //filter = input.options[input.selectedIndex].text.toUpperCase();
    //console.log("filter: " + filter);
    students = document.getElementsByClassName("goalCardName");
    console.log(students)
    numStudents = students.length;
   
    console.log("numStudents: " + numStudents);
    for (let i = 0; i < numStudents; i++) {
      console.log("id: " + students[i].id);
      console.log("filter: " + filter);
      console.log("input: " + input.options[input.selectedIndex].text);
      if (students[i].id == input.options[input.selectedIndex].text) {
        students[i].style.display = "";
      }
      else {
        students[i].style.display = "none";
      }
    }

    if(input.options[input.selectedIndex].text=="All students")
    {
      console.log("helloooo" );
      for (let i = 0; i < numStudents; i++) {
        students[i].style.display = "";
      }
    }
  };

</script>

</html>

  <!-- Tutorial -->
    <!-- Inital Popup -->
    <div id="tutorial" class="tutorial">
      <div class="tutorialContent">
        <p style="font-weight: bold;" >Tutorial</p>
        <p>These popup boxes will guide you through the website. Click "Next" to continue.</p>
        <span class="exit">EXIT</span>
        <span class="next">NEXT</span>
      </div>
    </div>
    <!-- Second Popup: Add New Student -->
    <div id="tutorial1" class="tutorial">
      <div class="tutorialContent">
        <p style="font-weight: bold;" >Tutorial</p>
        <p >Click on the "+" button to create a new student.</p> 
        <span class="exit">EXIT</span>
      </div>
    </div>
    <!-- Third Popup: Select Student -->
    <div id="tutorial2" class="tutorial">
      <div class="tutorialContent">
        <p style="font-weight: bold;" >Tutorial</p>
        <p>Click on the student to bring up the Goals menu.</p>
      </div>
    </div>
    <!-- Fourth Popup: Add Goal -->
    <div id="tutorial4" class="tutorial">
      <div class="tutorialContent">
        <p style="font-weight: bold;" >Tutorial</p>
        <p>Click on "Create New Goal" to add a goal.</p>
      </div>
    </div>
    <!-- Tutorial Script -->
    <script>


      var tutorial = document.getElementById("tutorial");
      var tutorial1 = document.getElementById("tutorial1");
      var tutorial2 = document.getElementById("tutorial2");
      var tutorial3 = document.getElementById("tutorial3");

      var btn = document.getElementById("tutorialBtn");
      var btn2 = document.getElementById("newstudentBtn");
      var exit = document.getElementsByClassName("exit")[0];
      var next = document.getElementsByClassName("next")[0];
      var exit1 = document.getElementsByClassName("exit")[1];
      var previous = document.getElementsByClassName("previous")[0];

      btn.onclick = function() {
        tutorial.style.display = "block";
        localStorage.setItem("tutorialtoggle", "1");
      }
      exit.onclick = function() {
        tutorial.style.display = "none";
        localStorage.setItem("tutorialtoggle", "0");
        localStorage.setItem("studentprofiletoggle", "0");
      }
      next.onclick = function() {
        tutorial.style.display = "none";
        tutorial1.style.display = "block"
      }
      exit1.onclick = function() {
        tutorial1.style.display = "none";
        localStorage.setItem("tutorialtoggle", "0");
        localStorage.setItem("studentprofiletoggle", "0");
      }
      previous.onclick = function() {
        tutorial1.style.display = "none";
        tutorial.style.display = "block";
      }

    </script>
