<!DOCTYPE html>

<html>

<head>
  <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s" />
  <title>Track</title>
  <%- include("../partials/head.ejs")%>
</head> 

<div class="grid-container">

    <header class="header">
      <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s" />
    </header>

  <%- include("../partials/header.ejs")%>

    <main class="main">
        <div class =  class-header>
         <div class="form-group">
            <select class="custom-select" id="selectNumber" class="dropbtn"></select> <!--class period selector-->
          </div>
          <h3>Class List</h3>

          <button type="button" class="btn btn-primary">
            <a href="/createNewStudent">Create New Student</a>
          </button>
        </div>


         <div class = "overviewcard" id="studentBox">

                <!--Loads the Students and Creates Buttons for them-->
              <% students.forEach(function(student) { %>
              <!--<h2 style="display:none;" id="uid" value="<%=student.userid %>"></h2>-->
              <!--<div class = "cardName" id="<%=student.userid%>">-->
              <script>
                if(localStorage.getItem("userID") == "<%=student.userid %>") {
                  var card = document.createElement("div");
                  card.className = "cardName <%=student.period%>";
                  card.id = "<%=student.id%>";

                  var studentLink = document.createElement("a");
                  studentLink.href = "/student/<%=student.id%>";

                  var studentImg = document.createElement("img");
                  studentImg.className = "img-circle";
                  studentImg.src = "/img/studentIcon.png";
                  studentImg.width = "200";
                  studentImg.height = "200";

                  var studentLabel = document.createElement("class");
                  studentLabel.className = "name";
                  studentLabel.innerHTML = "<%=student.firstname%>";

                  studentLink.appendChild(studentImg);
                  studentLink.appendChild(studentLabel);
                  card.appendChild(studentLink);

                  document.getElementById("studentBox").appendChild(card);

                  //var toDelete = document.getElementById("uid");

                  //toDelete.parentNode.removeChild(toDelete);
                }
              </script>
              <% }); %>
            </div>

      

    </main>


  <footer class="footer">
      <div class="footer__copyright">&copy; 2019 TRACK</div>
  </footer>

</div>

</html>

<script>

  //console.log(localStorage.getItem("userID"));
  // Close the dropdown if the user clicks outside of it
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var sel = document.getElementById('selectNumber');
  var options = ["All students", "1st Period", "2nd Period", "3rd Period", "4th Period", "5th Period", "6th Period", "7th Period", "8th Period", "9th Period", "10th Period",]; 
  for(var i = 0; i < options.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = options[i];
    sel.appendChild(opt);
  };

  sel.onchange = function() {
    console.log("changing period");
    var input, filter, students, studentChildren, a, i, txtValue, period;
    input = document.getElementById("selectNumber");
    filter = input.selectedIndex;
    //filter = input.options[input.selectedIndex].text.toUpperCase();
    //console.log("filter: " + filter);
    students = document.getElementsByClassName("cardName");
    numStudents = students.length;
    //console.log("numStudents: " + numStudents);

    for (i = 0; i < numStudents; i++) {
      period = students[i].className[9];
      //console.log("period: " + period);
      if (period.toUpperCase().indexOf(filter) > -1 || filter == 0) {
        students[i].style.display = "";
      } else {
        students[i].style.display = "none";
      }
    }

  };
</script>