<!DOCTYPE html>

<html>

<head>
  <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s">
  <title>Class Page</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <script src="jquery-3.5.1.min.js"></script>
  <script src="../js/rangeSlider.js" defer></script>
</head>

<body>
  <%- include("navbar.ejs")%>

    <!-- END NAV BAR -->
    <!-- SEARCH -->
    <section>
      <!-- <h4>Search</h4> -->
      <div class ="searchAndSelect">
        <input placeholder="What student do you want?" />
        <div class="form-group ">
          <select class="custom-select" id="selectNumber" class="dropbtn"></select> <!--class period selector-->
        </div>
        <!-- 
        <div class="select">
          <select name="slct" id="slct">
            <option value="0">All Students</option>
            <option value="1">1st Period</option>
            <option value="2">2nd Period</option>
            <option value="3">3rd Period</option>
            <option value="4">4th Period</option>
            <option value="5">5th Period</option>
            <option value="6">6th Period</option>
            <option value="7">7th Period</option>
          </select>
        </div> 
      </div>-->
    </section>

    <div class="cardContainer" id="studentBox">
      <script>
        console.log("jfjff");
        console.log(localStorage);
        console.log("post jfjfjf");
      </script>
      <a href="/createNewStudent">
        <div class="card">
          <div class="cardInitial">+</div>
        </div>
      </a>
      <!--Loads the Students and Creates Buttons for them-->
      <% students.forEach(function(student) { %>

        <% let shouldBreak=false %>
          <% student.userid.forEach(function(id) { %>
            <script>
              console.log("username", localStorage.getItem("username"))
              console.log("id", "<%=id%>")
            </script>
            <% if (!shouldBreak) { %>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"
                integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ=="
                crossorigin="anonymous"></script>
              <script>
                console.log("username", localStorage.getItem("username"))
                console.log("sha", sha256(localStorage.getItem("username")))
                console.log("id", "<%=id%>")


                if (sha256(localStorage.getItem("username")) === "<%=id%>") {
                  var anchor = document.createElement("a");
                  anchor.href = "/student/<%=student.id%>";
                  anchor.id = "cardContainer";
                  var card = document.createElement("div");
                  card.className = "goalCardName";
                  var cardText = document.createElement("div");
                  cardText.className = "card acaedmic text-white bg-primary mb-3";
                  Text.style = "max-width: 20rem;";
                  var cardHeader = document.createElement("div");
                  cardHeader.className = "cardInitial";
                  var initial = "<%=student.firstname%>".charAt(0) + "<%=student.lastname%>".charAt(0);
                  cardHeader.innerHTML = initial;
                  var cardBody = document.createElement("div");
                  var cardTitle = document.createElement("p");
                  cardTitle.className = "cardInfo";
                  cardTitle.innerHTML = "<%=student.firstname%> <%=student.lastname%>";
                  cardBody.appendChild(cardTitle);
                  cardText.appendChild(cardHeader);
                  cardText.appendChild(cardBody);
                  card.appendChild(cardText);
                  anchor.appendChild(card);
                  document.getElementById("studentBox").appendChild(anchor);
                  document.getElementById("studentBox").style = "display: "


                }


              </script>
              <% } %>
                <% } ); %>
                  <% }); %>




    </div>
    </main>
    </div>
    </div>

</body>


<script>

  //console.log(localStorage.getItem("userID"));
  // Close the dropdown if the user clicks outside of it

  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var sel = document.getElementById('selectNumber');
  var options = ["All students &nbsp;", "1st Period", "2nd Period", "3rd Period", "4th Period", "5th Period", "6th Period", "7th Period", "8th Period", "9th Period"];
  for (var i = 0; i < options.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = options[i];
    sel.appendChild(opt);
  };

  sel.onchange = function () {
    console.log("changing period");
    var input, filter, students, studentChildren, a, i, txtValue, period;
    input = document.getElementById("selectNumber");
    filter = input.selectedIndex;
    //filter = input.options[input.selectedIndex].text.toUpperCase();
    //console.log("filter: " + filter);
    students = document.getElementsByClassName("studentCardName");
    console.log(students)
    numStudents = students.length;
    console.log("numStudents: " + numStudents);

    for (i = 0; i < numStudents; i++) {

      period = students[i].attributes[2].nodeValue;
      console.log("period: " + period);
      if (period.toUpperCase().indexOf(filter) > -1 || filter == 0) {
        students[i].parentNode.style.display = "";
      } else {
        students[i].parentNode.style.display = "none";
      }
    }

  };

</script>

</html>