<!DOCTYPE html>
<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/createNewGoal.css" />
</head>

<body>
    <%- include("navbar.ejs")%>
        <form action="/student/<%= student.id%>/goal/edit/<%= goalid %>" method="post" class="sectionOne">
            <!-- Goal -->
            <h2>GOAL</h2>
            <input type="text" value="<%=goal.name%>" name="name" placeholder="Goal Name" />
            <textarea rows="4" cols="50" type="text" name="description"
                placeholder="Goal Description"><%=goal.description%></textarea>

            <!-- Dates -->
            <h2>DATES</h2>
            <input type="date" placeholder="Start Date" id="startDate" name="startDate" value="<%=goal.startDate%>">
            <input type="date" placeholder="End Date" id="endDate" name="endDate" value="<%=goal.endDate%>">

            <!-- Goal Type -->
            <h2>GOAL TYPE</h2>
            <div class="goalTypeEdit" id="goalType">
                <input type="radio" id="Academic" name="goalType" value="Academic">
                <label for="Academic" id="AcademicLabel">Academic</label>
                <input type="radio" id="Behavior" name="goalType" value="Behavior">
                <label for="Behavior" id="BehaviorLabel">Behavior</label>
            </div>

            <!-- If Method Of Collection is Rubric -->
            <%if(goal.methodOfCollection.includes("rubric")) { %>
                <div name="rubricLayout" id="rubricLayout">
                    <h2>RUBRIC</h2>
                    <h3>Description for Not Evident</h3>
                    <textarea rows="1" cols="50" type="text" name="Rnotevident"
                        placeholder="Description for Not Evident"><%= goal.rubricdescription[0] %></textarea>
                    <h3>Description for Introduced</h3>
                    <textarea rows="1" cols="50" type="text" name="Rintroduced"
                        placeholder="Description for Introduced"><%= goal.rubricdescription[1] %></textarea>
                    <h3>Description for Emerging</h3>
                    <textarea rows="1" cols="50" type="text" name="Remerging"
                        placeholder="Description for Emerging"><%= goal.rubricdescription[2] %></textarea>
                    <h3>Description for Developing</h3>
                    <textarea rows="1" cols="50" type="text" name="Rdeveloping"
                        placeholder="Description for Developing"><%= goal.rubricdescription[3] %></textarea>
                    <h3>Description for Ongoing</h3>
                    <textarea rows="1" cols="50" type="text" name="Rongoing"
                        placeholder="Description for Ongoing"><%= goal.rubricdescription[4] %></textarea>
                    <h3>Description for Demonstrated</h3>
                    <textarea rows="1" cols="50" type="text" name="Rdemonstrated"
                        placeholder="Description for Demonstrated"><%= goal.rubricdescription[5] %></textarea>
                    <h3>Description for Applied</h3>
                    <textarea rows="1" cols="50" type="text" name="Rapplied"
                        placeholder="Description for Applied"><%= goal.rubricdescription[6] %></textarea>
                </div>
                <%} %>
                    <button class="submit">Submit</button>
                    <input type="hidden" name="userID" id="userID">
        </form>
        </section>
</body>

</html>

<script>
    //sorry this is a super jank way of getting user ID but its OKAY
    document.getElementById("userID").value = localStorage.getItem("username");
</script>

<!-- This script makes the appropriate circle colored purple if academic or behavioral goal type -->
<script type="text/javascript">
    var goalType = "<%=goal.goalType%>";
    var methodOfCollection = "<%=goal.methodOfCollection[0]%>";

    if (goalType == "Academic") {
        document.getElementById("Academic").checked = true;
    }
    else if (goalType == "Behavior") {
        document.getElementById("Behavior").checked = true;
    }
</script>

<!-- These TWO scripts are used to make the date picker in Safari since it doesn't have a native one -->
<script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>

<script type="text/javascript">
    if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
        jQuery(function ($) { //on document.ready
            $('#startDate').datepicker();
            $('#endDate').datepicker();
        })
    }
</script>