<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/createStudent.css" />
</head>

<body>
  <%- include("navbar")%>
    <section>
      <!-- this form allows you to edit the student's information -->
      <form action="/student/<%= student.id %>/student_edit/submit" method="post">
        <h2>Edit <%= student.firstname %>
            <%= student.lastname %>'s Profile</h2>

        <input type="text" name="firstname" value="<%= student.firstname %>" placeholder="First Name" />
        <input type="text" name="lastname" value="<%= student.lastname %>" placeholder="Last Name" />
        <input type="text" name="studentemail" value="<%= student.email %>" placeholder="Email" />
        <input type="date" name="dob" id="dob" value="<%= student.dob %>" placeholder="Date of Birth" />

        <label for="Grade Level">Grade Level:</label>
        <select class="form-control" name="grade" id="grade" style="width:100%">
          <option value=""></option>
          <option value="Pre-K">Pre-K</option>
          <option value="Kindergarten">Kindergarten</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <button type="submit" class="submit">Submit</button>
        <input type="hidden" name="userID" id="userID">
      </form>
    </section>
</body>

</html>

<script>
  //sorry this is a super jank way of getting user ID but its OKAY
  document.getElementById("userID").value = localStorage.getItem("userID");

  console.log(localStorage.getItem("userID"));
  var grade = parseInt("<%= student.grade %>", 10);
  console.log("grade: " + grade);
  if (grade == NaN) {
    document.getElementById("grade").selectedIndex = 2;
    console.log("is not number");
  } else {
    document.getElementById("grade").selectedIndex = parseInt("<%= student.grade %>", 10) + 1;
    console.log("is number?? confused");
  }
  document.getElementById("period").selectedIndex = "<%= student.period %>" - 1;
</script>

<!-- These TWO scripts are used to make the date picker in Safari since it doesn't have a native one -->
<script type="text/javascript">
  var datefield = document.createElement("input")
  datefield.setAttribute("type", "date")
  if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
    document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
    document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
    document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
  }
</script>

<script type="text/javascript">
  if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function ($) { //on document.ready
      $('#dob').datepicker();
    })
  }
</script>