<!DOCTYPE html>

<html>
	<head>
		<title>Goal</title>
		<%- include("../partials/head.ejs")%>
	</head>

	<style>

		table#t01 {
			width:80%;
			margin-left: 10%;
			color: black;
		}
		table#t01, th#t01, td#t01 {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th#t01, td#t01 {
			padding: 15px;
			text-align: left;
		}
		table#t01 tr:nth-child(even) {
			background-color: #eee;
		}
		table#t01 tr:nth-child(odd) {
			background-color: #fff;
		}
		table#t01 th {
			background-color: black;
			color: white;
		}
	</style>

<div class="grid-container">

	<%- include("../partials/header.ejs")%>

	<main class="main">

		
		
		
			<div class = "class-header">
				<h1><%= goal.name %></h1>
				<h2><%= goal.description %></h2>
			</div>
		
		
				

		<h1><%= goal.name %></h1>
		<h2><%= goal.description %></h2>
		<form  action="/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">

			<table style="position: center" id="goalInput">
			<!--<% methodOfCollection.forEach(function(collection) { %>
				<p><%= collection %><p>-->

					<!--<script>
						console.log("<%= collection %>");

						if("<%= collection %>"=="singlePoint") {
							var collection = document.createElement("p");
							collection.text = "single Point";
							document.getElementById("goalInput").appendChild(collection);
						} else if ("<%= collection %>"=="rubric") {
							var collection = document.createElement("p");
							collection.text = "Rubric";
							document.getElementById("goalInput").appendChild(collection);
						}
						
					</script>

					<% }); %>-->


				<div class = "class-input">
					<form  action="/<%= user.id%>/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">
						<table style="position: center" id="goalInput">
							
							<tr class = "table-active">
								<td>Percentage Correct:</td><td> <input type="text" name="percentage"></td>
							</tr>

							<tr class = "table-active">
								<td>With how much support:</td><td> <input type="text" name="support"></td>

							</tr>
							
							<tr class = "table-active">
								<td> Additional Comments: </td><td><input type="text" name="comments"></td>
							</tr>
						
						</table>				
						<input type="submit" input class="btn btn-primary">
					</form>


				</div>
			

				<div class = "goal-data">
								<h2>Progress Monitoring</h2>
								<table style="position: center" id="t01">
									<tr>
										<th>Percentage</th>
										<th>Support</th> 
										<th>Comments</th>
										<th>Date</th>
									</tr>
									<% goalDatas.forEach(function(goalData) { %>
									<tr>
										<td><%= goalData.percentage %></td>
										<td><%= goalData.support %></td>
										<td><%= goalData.comments %></td>
										<td><%= goalData.time.getMonth()+1 %>/<%= goalData.time.getDate() %>/<%= goalData.time.getFullYear() %></td>
									</tr>
									<% }); %>
								</table>
					<br><div id="result"></div>
					<br><div id="delete"></div>
				</div>

		
				
		</div>
		

		<footer class="footer">
			<div class="footer__copyright">&copy; 2019 TRACK</div>
			<a href="/student/<%= student.id %>/goal/<%= goal.id %>/delete" class="Delete">Delete goal file</a>
		</footer>
	</div>
	
	</html>