<!DOCTYPE html>

<html xmlns="urn:schemas-microsoft-com:office:excel"> 
	<head>
   <title>Goal</title>
		<%- include("../partials/head.ejs")%>
   </head>

	<style>

		table#myTable {
			width:80%;
			margin-left: 10%;
			color: black;
		}
		table#myTable, th#myTable, td#myTable {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th#myTable, td#myTable {
			padding: 15px;
			text-align: left;
		}
		table#myTable tr:nth-child(even) {
			background-color: #eee;
		}
		table#myTable tr:nth-child(odd) {
			background-color: #fff;
		}
		table#myTable th {
			background-color: black;
			color: white;
		}
		button#btnExport {
			position:absolute;
			bottom: 38%;
			left: 90%;
		}

	</style>

<div class="grid-container">

	<%- include("../partials/header.ejs")%>

	<main class="main">

		
		
		
			<div class = "class-header">
				<h1><%= goal.name %></h1>
				<h2><%= goal.description %></h2>
			</div>
		
		
				
				

					
					

					<!--<% methodOfCollection.forEach(function(collection) { %>
						<p><%= collection %><p>-->

							<!--<script>
								console.log("<%= collection %>");

								if("<%= collection %>"=="singlePoint") {
									var collection = document.createElement("p");
									collection.text = "single Point";
									document.getElementById("goalInput").appendChild(collection);
								} else if ("<%= collection %>"=="rubric") {
									var collection = document.createElement("p");
									collection.text = "Rubric";
									document.getElementById("goalInput").appendChild(collection);
								}
								
							</script>
					<% }); %>-->


				<div class = "class-input">
					<form  action="/<%= user.id%>/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">

						<table style="position: center" id="goalInput">
							
							<tr class = "table-active">
								<td>Percentage Correct:</td><td> <input type="text" name="percentage"></td>
							</tr>

							<tr class = "table-active">
								<td>With how much support:</td><td> <input type="text" name="support"></td>

							</tr>
							
							<tr class = "table-active">
								<td> Additional Comments: </td><td><input type="text" name="comments"></td>
							</tr>
						
						</table>				
						<input type="submit" input class="btn btn-primary">
					</form>


				</div>
			

				<div class = "goal-data">
								<h2>Progress Monitoring</h2>

								<table style="position: center" id="myTable">
									<tr>
										<th>Percentage</th>
										<th>Support</th> 
										<th>Comments</th>
										<th>Date</th>
									</tr>
									<% goalDatas.forEach(function(goalData) { %>
									<tr>
										<td><%= goalData.percentage %></td>
										<td><%= goalData.support %></td>
										<td><%= goalData.comments %></td>
										<td><%= goalData.time.getMonth()+1 %>/<%= goalData.time.getDate() %>/<%= goalData.time.getFullYear() %></td>
									</tr>
									<% }); %>
								</table>
								<button id="btnExport" onclick="fnExcelReport();" type="submit" class="btn btn-primary right" style="position: right"> Export </button>
					<br><div id="result"></div>
					<br><div id="delete"></div>
				</div>	
		</div>
		


		<footer class="footer">
			<div class="footer__copyright">&copy; 2019 TRACK</div>
			<a href="/<%= user.id%>/student/<%= student.id %>/goal/<%= goal.id %>/delete" class="Delete">Delete goal file</a>
		</footer>
	</div>

	
	</html>

<script type="text/javascript">

function fnExcelReport()
{
    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    var textRange; var j=0;
    tab = document.getElementById('myTable'); // id of table

    for(j = 0 ; j < tab.rows.length ; j++) 
    {     
        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        //tab_text=tab_text+"</tr>";
    }

    tab_text=tab_text+"</table>";
    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE "); 

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
    {
        txtArea1.document.open("txt/html","replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus(); 
        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
    }  
    else                 //other browser not tested on IE 11
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

    return (sa);
}
</script>