<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="goal.css">
  <!-- <script src="../pagesJS/js/kebabMenu.js"></script> ../public/css/-->
</head>

<body>
  <%- include("navbar.ejs")%>
    <!-- GOAL NAME TAG -->
    <section>
      <div class="goalHeader">
        <div class="goalName">
          <%= goal.name %>
        </div>
        <div class="goalInfo">
          <button class="goalInfoButton">
            <!-- <a href="student.html"> -->
              <h2>BACK</h2>
            </a> <!-- gonna need to fix these links once the other guys r done-->
          </button>
          <button class="goalInfoButton">
            <!-- <a href="goalInfo.html"> -->
              <h2>INFO</h2>
            </a>
          </button>
        </div>
      </div>
    </section>
    <!-- END GOAL NAME TAG -->
    <!-- GOAL INPUT -->
    <form action="/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create/<%=shared%>" id="submitForm"
      method="post" class="formBox">
      <div class="generalBox">
        <%if(goal.methodOfCollection.includes("count")) { %>
          <h2>Occurrence</h2>
          <input type="number" placeholder="Occurrence">
          <%} %>

            <%if(goal.methodOfCollection.includes("score")) { %>
              <input type="number" placeholder="Score">
              <%} %>

                <%if(goal.methodOfCollection.includes("comments")) { %>
                  <textarea rows="4" cols="50" type="text" name="description" placeholder="Goal Description"></textarea>
                  <%} %>

                  <%if(goal.methodOfCollection.includes("rubric")) { %>

                    <%} %>
      </div>
      <input type="submit" class="submit">Submit</button>
    </form>
    <!-- END GOAL INPUT -->
    <section class="progress">
      <div class="generalBox graph">
        <h1>Graph</h1>
      </div>
      <div class="generalBox table">
        <h1>Progress</h1>
        <table>
          <tr>
            <th>Progress</th>
            <th>Date</th>
            <th>Created</th>
            <th>File</th>
            <th>Modify</th>
          </tr>
          <tr>
            <td>Counted to 10</td>
            <td>03/07/2021</td>
            <td>Conley Tjahjono</td>
            <td>workbook.png</td>
            <td>
              <div class="dropdown">
                <button class="dropbtn">
                  <div class="menu"></div>
                  <div class="menu"></div>
                  <div class="menu"></div>
                </button>
                <div class="dropdown-content">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
</body>

</html>
