<!DOCTYPE html>

<html>
<head>
    <title>Goal</title>
    <link rel="icon" type="image/gif/png" href="img/logo.png">
    
    <link rel="stylesheet" href="/flatly.css">
  	<link rel="stylesheet" href="/dashboard.css">
  	<link rel="stylesheet" href="/icons.css">
    <script type="text/javascript" src="myScripts.js"></script>
</head>

<style>

	table#t01 {
	  width:80%;
	  margin-left: 10%;
	  color: black;
	}
	table#t01, th#t01, td#t01 {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th#t01, td#t01 {
	  padding: 15px;
	  text-align: left;
	}
	table#t01 tr:nth-child(even) {
	  background-color: #eee;
	}
	table#t01 tr:nth-child(odd) {
	 background-color: #fff;
	}
	table#t01 th {
	  background-color: black;
	  color: white;
	}
</style>

<header>
    <%- include("../partials/header.ejs")%>
</header>

<body>

	<a href="/student/<%= student.id %>/goal/<%= goal.id %>/delete" class="Delete" style="position: absolute; top: 35px; right:35px">Delete goal file</a>

	
	<h1><%= goal.name %></h1>
	<h2><%= goal.description %></h2>
	<form  action="/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">
		<table style="position: center" id="goalInput">
			<!--<% methodOfCollection.forEach(function(collection) { %>
				<p><%= collection %><p>-->

					<!--<script>
						console.log("<%= collection %>");

						if("<%= collection %>"=="singlePoint") {
							var collection = document.createElement("p");
							collection.text = "single Point";
							document.getElementById("goalInput").appendChild(collection);
						} else if ("<%= collection %>"=="rubric") {
							var collection = document.createElement("p");
							collection.text = "Rubric";
							document.getElementById("goalInput").appendChild(collection);
						}
						
					</script>
			<% }); %>-->

			<tr>
				<td>Percentage Completed:</td><td> <input type="value" name="percentage"></td></tr>
			<tr>
				<td>With how much support:</td><td> <input type="text" name="support"></td></tr>
			<tr>
				<td> Additional Comments: </td><td><input type="text" name="comments"></td></tr>
			<a href="/student/<%= student.id %>"><span class="backButton"></span></a>
			<a><input type="submit" value="Submit" class="submitButton"></a>
		</table>
	</form>

	<div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


	<h2>Progress Monitoring</h2>
	<table style="position: center" id="t01">
		<tr>
			<th>Percentage</th>
			<th>Support</th> 
			<th>Comments</th>
			<th>Date</th>
		</tr>
		<% goalDatas.forEach(function(goalData) { %>
			<tr>
				<td><%= goalData.percentage %></td>
				<td><%= goalData.support %></td>
				<td><%= goalData.comments %></td>
				<td><%= goalData.time.getMonth()+1 %>/<%= goalData.time.getDate() %>/<%= goalData.time.getFullYear() %></td>
			</tr>
		<% }); %>
	</table>
	<!--
			<input type="submit" value = "Submit" class="submitButton"><br><br>
			<a href="Anna.html" class="backButton">Back</a>-->
	<!-- the result of the search will be rendered inside this div -->
	<br><div id="result"></div>
  <br><div id="delete"></div>
</body>
</html>