<!DOCTYPE html>

<html>
	<head>
		<title>Goal</title>
		<%- include("../partials/head.ejs")%>
	</head>

	<style>

		table#t01 {
			width:80%;
			margin-left: 10%;
			color: black;
		}
		table#t01, th#t01, td#t01 {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th#t01, td#t01 {
			padding: 15px;
			text-align: left;
		}
		table#t01 tr:nth-child(even) {
			background-color: #eee;
		}
		table#t01 tr:nth-child(odd) {
			background-color: #fff;
		}
		table#t01 th {
			background-color: black;
			color: white;
		}
	</style>

<div class="grid-container">

	<%- include("../partials/header.ejs")%>

	<main class="main">

		
		
		
			<div class = "class-header">
				<h1><%= goal.name %></h1>
			</div>

			<div class = "description">
				<h5><%= goal.description %></h5>
			</div>
		
		
				
				

					
					

					<!--<% methodOfCollection.forEach(function(collection) { %>
						<p><%= collection %><p>-->

							<!--<script>
								console.log("<%= collection %>");

								if("<%= collection %>"=="singlePoint") {
									var collection = document.createElement("p");
									collection.text = "single Point";
									document.getElementById("goalInput").appendChild(collection);
								} else if ("<%= collection %>"=="rubric") {
									var collection = document.createElement("p");
									collection.text = "Rubric";
									document.getElementById("goalInput").appendChild(collection);
								}
								
							</script>
					<% }); %>-->


				<div class = "class-input">
					<form  action="/<%= user.id%>/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">
						<table style="position: center" id="goalInput">
							

							<%if(goal.methodOfCollection[0] == "singlePoint") { %>
								<!---<tr class = "table-active">
									<td>Percentage Completed:</td><td> <input type="text" name="percentage"></td>
								</tr>--->
								<div class="generic-box">
      								<label for="percentage">Percentage Completed:</label>
      								<input type="texts" class="form-control" id="percentage" placeholder="Input Number" name="percentage">
    							</div>

							<%} %>
							
							<%if(goal.methodOfCollection[0] == "rubric" || goal.methodOfCollection[1] == "rubric" || goal.methodOfCollection[2] == "rubric") { %>
									<div class="generic-box">
									      <label for="exampleInputPassword1">Rubric</label>

									      <div class="form-check">
									        <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Not evident" checked="">
									          Not evident
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Introduced">
									          Introduced
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Emerging">
									          Emerging
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Developing">
									          Developing
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Ongoing">
									          Ongoing
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Demonstrated">
									          Demonstrated
									        </label>
									      </div>

									      <div class="form-check">
									      <label class="form-check-label">
									          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Applied">
									          Applied
									        </label>
									      </div>
									</div>
							<%} %>





							<%if(goal.methodOfCollection[0] == "comments" || goal.methodOfCollection[1] == "comments" || goal.methodOfCollection[2] == "comments") { %>
								<!--<tr class = "table-active">
									<td> Additional Comments: </td><td><input type="text" name="comments"></td>
								</tr>--->

								<div class="generic-box">
      								<label for="exampleTextarea">Comments</label>
      								<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Type Comment" name="comments"></textarea>
    							</div>

							<%} %>

														<tr class = "generic-box">
								<!--<td>With how much support:</td><td> <input type="text" name="support"></td>-->

								<label for="exampleInputPassword1">With how much support:</label>
      								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Input Support" name="support">
							</tr>


						</table>				
						<input type="submit" input class="btn btn-primary">
					</form>


				</div>
			

				<div class = "goal-data">
								<h2>Progress Monitoring</h2>
								<table class="table table-hover" id="t01">
								<!--<table style="display: : center" id="t01">-->
									<tr class="table-active">
										<%if(goal.methodOfCollection[0] == "singlePoint") { %>
											<th>Percentage</th>
										<%} %>
							
										<%if(goal.methodOfCollection[0] == "rubric" || goal.methodOfCollection[1] == "rubric" || goal.methodOfCollection[2] == "rubric") { %>
											<th>Rubric Option</th>
										<%} %>

										<th>Support</th> 
										<%if(goal.methodOfCollection[0] == "comments" || goal.methodOfCollection[1] == "comments" || goal.methodOfCollection[2] == "comments") { %>
											<th>Comments</th>
										<%} %>
										<th>Date</th>
									</tr>
									<% goalDatas.forEach(function(goalData) { %>
									<tr>
										<%if(goal.methodOfCollection[0] == "singlePoint") { %>
											<td><%= goalData.percentage %></td>
										<%} %>

										<%if(goal.methodOfCollection[0] == "rubric" || goal.methodOfCollection[1] == "rubric" || goal.methodOfCollection[2] == "rubric") { %>
											<td><%= goalData.rubricOption %></td>
										<%} %>
										
										<td><%= goalData.support %></td>
										<%if(goal.methodOfCollection[0] == "comments" || goal.methodOfCollection[1] == "comments" || goal.methodOfCollection[2] == "comments") { %>
											<<td><%= goalData.comments %></td>
										<%} %>
										
										<td><%= goalData.time.getMonth()+1 %>/<%= goalData.time.getDate() %>/<%= goalData.time.getFullYear() %></td>
									</tr>
									<% }); %>
									</tbody>
								</table>
					<br><div id="result"></div>
					<br><div id="delete"></div>
				</div>

		
				
		</main>
		

		<footer class="footer">
			<div class="footer__copyright">&copy; 2019 TRACK</div>
			<a href="/<%= user.id%>/student/<%= student.id %>/goal/<%= goal.id %>/delete" class="Delete">Delete goal file</a>
		</footer>
	</div>
	
	</html>