<!DOCTYPE html>

<html>
<head>
    <title>Goal</title>
    <link rel="icon" type="image/gif/png" href="img/logo.png">
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="myScripts.js"></script>
</head>

<style>
	table#t01 {
	  width:80%;
	  margin-left: 10%;
	  color: black;
	}
	table#t01, th#t01, td#t01 {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th#t01, td#t01 {
	  padding: 15px;
	  text-align: left;
	}
	table#t01 tr:nth-child(even) {
	  background-color: #eee;
	}
	table#t01 tr:nth-child(odd) {
	 background-color: #fff;
	}
	table#t01 th {
	  background-color: black;
	  color: white;
	}
</style>

<header>
    <%- include("../partials/header.ejs")%>
</header>

<body>
	<h1><%= goal.name %></h1>
	<h2><%= goal.description %></h2>
	<form  action="/student/<%= student.id %>/goal/<%= goal.id %>/goaldata/create" id="submitForm" method="post">
		<table style="position: center">
			<tr>
				<td>Percentage Completed:</td><td> <input type="value" name="percentage"></td></tr>
			<tr>
				<td>With how much support:</td><td> <input type="text" name="support"></td></tr>
			<tr>
				<td> Additional Comments: </td><td><input type="text" name="comments"></td></tr>
			<a href="/student/<%= student.id %>"><span class="backButton"></span></a>
			<a><input type="submit" value="" class="submitButton"></a>
		</table>
	</form>

	<h2>Progress Monitoring</h2>
	<table style="position: center" id="t01">
		<tr>
			<th>Percentage</th>
			<th>Support</th> 
			<th>Comments</th>
			<th>Time</th>
		</tr>
		<tr>
			<td>Jill</td>
			<td>Smith</td> 
			<td>50</td>
			<td>35</td>
		</tr>
		<tr>
			<td>Eve</td>
			<td>Jackson</td> 
			<td>94</td>
			<td>35</td>
		</tr>
		</table>

	
	<!--
			<input type="submit" value = "Submit" class="submitButton"><br><br>
			<a href="Anna.html" class="backButton">Back</a>-->
	<!-- the result of the search will be rendered inside this div -->
	<br><div id="result"></div>
  <br><div id="delete"></div>

	<script>
	$('#delete').click(function(event) {
		_id = $(this).attr('objid');
		dict = {'id':_id};
		console.log(JSON.stringify(dict))
		var deleting = $.post('/goal/delete', {id:_id})
		deleting.done(function(data) {
			console.log(JSON.stringify(data))
		})
		$('#result').empty()
		$('#delete').empty()
	})

	// Attach a submit handler to the form
	$( "#submitForm" ).submit(function( event ) {
	  // Stop form from submitting normally
	  event.preventDefault();
	  // Get some values from elements on the page:
	  var $form = $( this ),

	  dict = {}

	  var names = [];
	  $(".named").each(function() {
	  	names.push(this.name);
	  });

	  names.forEach(function(name) {
	  	dict[name] = $form.find("input[name='" + name + "']").val()
	  })

	  url = $form.attr( "action" );

	  // Send the data using post
	  var posting = $.post( url, dict);

	  // Put the results in a div
	  posting.done(function( data ) {
	  	var content = $( data ).find( "#content" );
	  	$('#result').empty();
	  	names.forEach(function (name) {
	  		$('#result').append(name + ': ' + data[name] + '\n')
	  	})

	  	$('#result').append('time' + ': ' + (new Date(data['time'])).toLocaleString() + '\n')


	  	console.log(JSON.stringify(data))
	  	alert(JSON.stringify(data));
	  	$('#delete').html('<i class="fas fa-trash"></i>');
	  	$('#delete').attr('objId', data['_id'])
	  });

	});
	</script>
</body>
</html>