<!DOCTYPE html>

<html>
<head>
  <title>Profile</title>
  <%- include("../partials/head.ejs")%>
</head>


<div class="grid-container">

  <%- include("../partials/header.ejs")%>

  <main class="main">

    <script>
        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
          document.documentElement.setAttribute('data-theme', currentTheme);
          localStorage.setItem('theme', currentTheme);
        }
    </script>   

    <div class="class-header">
      <h3><%=student.firstname%>'s goals shared with me...</h3>
      </div>
 
       <form type ="hidden">
          <input type="hidden" name="useremail" id="useremail"> </input>
          <script>
            var email = document.getElementById('useremail');
            email.value = localStorage.getItem("username");
          </script>
        </form>

  

    <div class = "overviewcard" id="goalsBox">


      <% goals.forEach(function(goal) { %>
        <% goal.sharedWith.forEach(function(teacher) { %>
          <script>
            
            if(localStorage.getItem("username") == "<%=teacher%>") {
              console.log("\nteacher: <%=teacher%>");
            console.log("\nusername: " + localStorage.getItem("username"));
              var card = document.createElement("div");
              card.className = "goalCardName";

              var card2 = document.createElement("div");
              card2.className = "card text-white bg-primary mb-3";
              card2.style = "max-width: 20rem;"

              var goalLink = document.createElement("a");
              goalLink.href = "/sharedWithMe/<%=goal.studentID%>/<%=goal.id%>";

              var header = document.createElement("div");
              header.className = "card-header";
              header.innerHTML = "<%=goal.goalType%>";

              var body = document.createElement("div");
              body.className = "card-body";

              var title = document.createElement("h4");
              title.className = "card-title";
              title.innerHTML = "<%= goal.name %>";

              var text = document.createElement("p");

              var progress = document.createElement("div");
              progress.className = "progress";

              var bar = document.createElement("div");
              bar.className = "progress-bar progress-bar-striped progress-bar-animated";
              bar.role = "progressbar";
              //bar.aria-valuenow="75";
              //bar.aria-valuemin="0";
              //bar.aria-valuemax="100";
              //^^^figure out how to add these in
              bar.style="width: 75%";

              text.className = "card-text";
              text.innerHTML = "Goal Progress";
              card.appendChild(card2);
              card2.appendChild(goalLink);
              goalLink.appendChild(header);
              goalLink.appendChild(body);
              body.appendChild(title);
              body.appendChild(text);
              body.appendChild(progress);
              progress.appendChild(bar);

              document.getElementById("goalsBox").appendChild(card);
              
            }
          </script>
        <% }) %>
     <% }); %>

      <input type="hidden" name="useremail" id="useremail"> </input>
      <script>
        var email = document.getElementById('useremail');
        email.value = localStorage.getItem("username");
      </script>
</main>
</div>
<%- include("../partials/footer.ejs")%>
</html>

<script>
  function showInfo() {
    var infoButton = document.getElementById('infoButton');
    if(infoButton.innerHTML == "Show Info") {
      infoButton.innerHTML = "Show Goals";

      var goalsBox = document.getElementById('goalsBox');
      goalsBox.style.display='none';
      var studentsInfoBox = document.getElementById('studentsInfoBox');
      studentsInfoBox.style.display='block';
    } else {
      infoButton.innerHTML = "Show Info";
      var goalsBox = document.getElementById('goalsBox');
      goalsBox.style.display='';
      var studentsInfoBox = document.getElementById('studentsInfoBox');
      studentsInfoBox.style.display='none';
    }
    
  }

  function convertToYYYYMMDD(d) {
    date = new Date(d);
    year = date.getFullYear();
    //console.log("Year: " + year);
    month = date.getMonth()+1;
    dt = date.getDate()+1;

    if (dt < 10) {
      dt = '0' + dt;
    }
    if (month < 10) {
      month = '0' + month;
    }
    var format = String(month) + '-' + String(dt) + '-' + String(year); 
    console.log("formatted year: " + format);
    document.getElementById('dob').innerHTML = format;
  }
</script>