<!DOCTYPE html>

<html>

<head>
  <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s">
  <title>Class Page</title>
  <%- include("../partials/head.ejs")%>
</head> 

<div class="grid-container">

    <header class="header">
      <div class="header__menu">
       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width: all; margin-left: 15px;"> 
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <meta name="google-site-verification" content="R5zD9Z0WWGqjCpnUaGN85YzU-Ndv24ftBflSn3kEk9s">
    </header>

  <%- include("../partials/header.ejs")%>

    <main class="main">
        <script>
        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
          document.documentElement.setAttribute('data-theme', currentTheme);
          localStorage.setItem('theme', currentTheme);
        }
        </script>   


        <div class =  class-header>
         <div class="form-group">
            <select class="custom-select" id="selectNumber" class="dropbtn"></select> <!--class period selector-->
          </div>

          <h3>Shared with me...</h3>
          <h3><h3>
        </div>


         <div class = "overviewcard" id="studentBox">
                <!--Loads the Students and Creates Buttons for them-->
                <script>
                  console.log("YOO");
                  console.log("username: " + localStorage.getItem("username"));
                </script>
             
              <% goals.forEach(function(goal) { %> 
                boop  
              <% }); %>
              <% goals.forEach(function(goal) { %> 
                  <script>
                  if(localStorage.getItem("username") == "goal.sharedWith[0]") {
                    var card = document.createElement("div");
                    card.className = "cardName";

                    var card2 = document.createElement("div");
                    card2.className = "card text-white bg-primary mb-3";
                    card2.style = "max-width: 20rem;"

                    var goalLink = document.createElement("a");
                    goalLink.href = "/student/<%=goal.studentid%>/goal/<%=goal.id%>";

                    var header = document.createElement("div");
                    header.className = "card-header";
                    header.innerHTML = "<%=goal.goalType%>";

                    var body = document.createElement("div");
                    body.className = "card-body";

                    var title = document.createElement("h4");
                    title.className = "card-title";
                    title.innerHTML = "<%= goal.name %>";

                    var text = document.createElement("p");
                    text.className = "card-text";
                    text.innerHTML = "Goal Progress";

                    card.appendChild(card2);
                    card2.appendChild(goalLink);
                    goalLink.appendChild(header);
                    goalLink.appendChild(body);
                    goalLink.appendChild(title);
                    goalLink.appendChild(text);

                    document.getElementById("studentBox").appendChild(card);
                    
                  }
                  /*
                  <div class = "cardName">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                      <a href="/student/<%=goal.studentid%>/goal/<%=goal.id%>">
                        <div class="card-header"><%=goal.goalType%></div>
                        <div class="card-body">
                          <h4 class="card-title"><%= goal.name %></h4>
                          <p class="card-text">Goal Progress</p>
                          <div class="progress">
                           <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                           </div>
                         </div>
                       </div>
                     </a>
                   </div>
                 </div>
               <% } %>
               */
             </script>
              <% }); %>
            </div>
    </main>


  <footer class="footer">
      <div class="footer__copyright">&copy; 2019 TRACK</div>
  </footer>

</div>

</html>

<script>

  //console.log(localStorage.getItem("userID"));
  // Close the dropdown if the user clicks outside of it
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  var sel = document.getElementById('selectNumber');
  var options = ["All students", "1st Period", "2nd Period", "3rd Period", "4th Period", "5th Period", "6th Period", "7th Period", "8th Period", "9th Period", "10th Period",]; 
  for(var i = 0; i < options.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = options[i];
    sel.appendChild(opt);
  };

  sel.onchange = function() {
    console.log("changing period");
    var input, filter, students, studentChildren, a, i, txtValue, period;
    input = document.getElementById("selectNumber");
    filter = input.selectedIndex;
    //filter = input.options[input.selectedIndex].text.toUpperCase();
    //console.log("filter: " + filter);
    students = document.getElementsByClassName("cardName");
    numStudents = students.length;
    //console.log("numStudents: " + numStudents);

    for (i = 0; i < numStudents; i++) {
      period = students[i].className[9];
      //console.log("period: " + period);
      if (period.toUpperCase().indexOf(filter) > -1 || filter == 0) {
        students[i].style.display = "";
      } else {
        students[i].style.display = "none";
      }
    }

  };
</script>