<!DOCTYPE html>

<html>
<head>
  <title>Profile</title>
  <%- include("../partials/head.ejs")%>
</head>


<div class="grid-container">

<%- include("../partials/header.ejs")%>

<main class="main">
  <div class="class-header">
    <div class = "nameArea">
    <h3><%= student.firstname %>'s Profile</h3>
    <button type="button" class="btn btn-info">Info</button>
  </div>
    

  <a href="/<%= user.id%>/student/<%=student.id%>/createNewGoal">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Create Goal</button>
  </a>

</div>

<div class = "overviewcard">

  <% goals.forEach(function(goal) { %> 
    
      <div class = "cardName">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <a href="/<%= user.id%>/student/<%=student.id%>/goal/<%=goal.id%>">
          <div class="card-header">Academic Goal</div>
          <div class="card-body">
            <h4 class="card-title"><%= goal.name %></h4>
            <p class="card-text">Goal Progress</p>
            <div class="progress">
             <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
             </div>
           </div>
         </div>
         </a>
       </div>
     </div>

   <% }); %>
 
</div>


</main>

<footer class="footer">
  <div class="footer__copyright">&copy; 2019 TRACK</div>
  <a href="/<%= user.id%>/student/<%= student.id %>/edit" class="btn btn-info"> <div class="footer__signature">Edit Student</div></a>
  <a href="/<%= user.id%>/student/<%= student.id %>/delete" class="btn btn-info"> <div class="footer__signature">Delete Student</div></a>
</footer>
</div>

</html>
