<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="../css/global.css" />
  <link rel="stylesheet" href="../css/student.css" />
</head>

<body>
  <!-- NAV BAR -->
  <%- include("navbar")%>
    <!-- NAME TAG -->
    <section>
      <div class="studentHeader">

        <div class="studentName">
          <h1>
            <%= student.firstname %>'s Profile
          </h1>
        </div>

        <div class="studentInfo">
          <button type="button" onclick="showInfo()" class="studentInfoButton" id="infoButton">
            <h2>INFO</h2>
          </button>

          <button type="button" onclick="showGoals()" class="studentGoalButton" id="goalButton">
            <h2>GOALS</h2>
          </button>

          <a href="/student/<%= student.id%>/student_edit">
            <button class="studentInfoButton">
              <h2>EDIT</h2>
            </button>
          </a>

          <a href="/student/<%= student.id %>/delete" onclick="return confirm('Please confirm to delete this student')"
            class="Delete">
            <button class="studentInfoButton">
              <h2>DELETE</h2>
            </button>
          </a>
          </button>

          <button class="studentInfoButton" id="toggle" onClick="toggle()">
            <h2>VIEW</h2>
          </button>
        </div>

      </div>

      <!-- STUDENT INFO CARD -->
      <div class="overviewcard" id="studentsInfoBox" style="display: none; grid-template-columns: auto">
        Name: <%= student.firstname %>
          <%= student.lastname %> <br>
            Date of Birth: <%= student.dob %> <br>
              Email: <%= student.email %> <br>
                Grade Level: <%= student.grade %> <br>
      </div>
    </section>

    <!-- CREATE NEW GOAL CARD -->
    <div class="cardContainer" id="goalsBox">
      <a href="/student/<%=student.id%>/createNewGoal">
        <div class="goalCardName">
          <div style="max-width: 18rem">
            <div class="card">
              <div class="cardInitial">+</div>
            </div>
          </div>
        </div>
      </a>
      <script>
        console.log("pre goal cards")
      </script>
      <!-- CREATES EVERY GOAL CARD -->
      <% goals.forEach(async function(goal) { %>
        <div id="<%=goal.id%>" className="changeable">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"
            integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ=="
            crossorigin="anonymous"></script>
          <script async>
            // console.log("hello");
            // console.log("<%=student.id%>/goal/<%=goal.id%>");
            // console.log("<%=goal.userid%>")
            // console.log(localStorage.getItem("username"))
            // console.log("goal is made by user")
            var anchor = document.createElement("a");
            anchor.href = "/student/<%=student.id%>/goal/<%=goal.id%>";
            anchor.id = "cardContainer";
            var card = document.createElement("div");
            card.className = "goalCardName";
            var cardText = document.createElement("div");
            if ("<%=goal.goalType%>".localeCompare("Academic")) {
              cardText.className = "card academic text-white bg-primary mb-3";
            }
            else {
              cardText.className = "card behavior text-white bg-primary mb-3";
            }
            cardText.style = "max-width: 20rem;";
            var cardGoalType = document.createElement("div");
            cardGoalType.innerHTML = "<%=goal.goalType%>";
            var cardMethod = document.createElement("div");
            cardMethod.innerHTML = "<%=goal.methodOfCollection[0]%>";
            cardMethod.innerHTML = cardMethod.innerHTML.charAt(0).toUpperCase() + cardMethod.innerHTML.slice(1);
            var cardBody = document.createElement("div");
            var cardTitle = document.createElement("h4");
            cardTitle.className = "cardInfo";
            cardTitle.innerHTML = "<%= goal.name %>";
            cardBody.appendChild(cardTitle);
            cardText.appendChild(cardBody);
            cardText.appendChild(cardGoalType);
            cardText.appendChild(cardMethod);
            card.appendChild(cardText);
            anchor.appendChild(card);
            document.getElementById("<%=goal.id%>").appendChild(anchor);
            if ("<%=goal.userid%>" == localStorage.getItem("username")) {
              document.getElementById("<%=goal.id%>").style = "display: "
            }
            else {
              // console.log("goal is not made by user")
              // var anchor = document.createElement("a");
              // anchor.href = "/student/<%=student.id%>/goal/<%=goal.id%>";
              // anchor.id = "cardContainer";
              // var card = document.createElement("div");
              // card.className = "goalCardName";
              // var cardText = document.createElement("div");
              // cardText.className = "card text-white bg-primary mb-3";
              // cardText.style = "max-width: 20rem;";
              // var cardHeader = document.createElement("div");
              // cardHeader.innerHTML = "<%=goal.goalType%>";
              // var cardBody = document.createElement("div");
              // var cardTitle = document.createElement("h4");
              // cardTitle.className = "cardInfo";
              // cardTitle.innerHTML = "<%= goal.name %>";
              // cardBody.appendChild(cardTitle);
              // cardText.appendChild(cardHeader);
              // cardText.appendChild(cardBody);
              // card.appendChild(cardText);
              // anchor.appendChild(card);
              // document.getElementById("<%=goal.id%>").appendChild(anchor);
              document.getElementById("<%=goal.id%>").style = "display: none"
            }
          </script>
        </div>
        <% }); %>

    </div>

</body>

</html>

<script>
  //toggles what goals you see from the ones you made to the ones other teachers made
  function toggle() {
    var goalsBox = document.getElementById("goalsBox");
    var goals = goalsBox.children;
    for (let i = 0; i < goals.length; i++) {
      if (goals[i].style.display == "none") {
        goals[i].style.display = "";
      }
      else {
        goals[i].style.display = "none";
      }
    }
  }

  //shows the info box of the student and hides all the goals
  function showInfo() {
    document.getElementById('infoButton').style.display = "none";
    document.getElementById("goalButton").style.display = "block";
    var goalsBox = document.getElementById('goalsBox');
    goalsBox.style.display = 'none';
    var studentsInfoBox = document.getElementById('studentsInfoBox');
    studentsInfoBox.style.display = 'block';
  }

  //shows the goals of the student and hides the info box
  function showGoals() {
    document.getElementById("goalButton").style.display = "none";
    document.getElementById('infoButton').style.display = "block";
    var goalsBox = document.getElementById('goalsBox');
    goalsBox.style.display = '';
    var studentsInfoBox = document.getElementById('studentsInfoBox');
    studentsInfoBox.style.display = 'none';
  }
</script>

<!-- Fourth Popup: Create New Goal -->
    <div id="tutorial2" class="tutorialaddgoal">
      <div class="tutorialContent4">
        <p style="text-align: center;font-size: 15px;">Click on the "+" button to add and configure a new goal.</p>
        <span style="margin-left: 27%;font-size: 20px;" class="exit">Exit</span>
        <span style="margin-left: 27%;font-size: 20px;" class="next">Hide</span>
      </div>
    </div>

    <div id="tutorial3" class="tutorialstart2">
      <div class="tutorialclicknewgoal">
        <p style="text-align: center;font-size: 15px;">Click on the new goal to add data.</p>
        <span style="margin-left: 27%;font-size: 20px;" class="exit">Exit</span>
        <span style="margin-left: 27%;font-size: 20px;" class="next">Hide</span>
      </div>
    </div>

    <script>
      var tutorial2 = document.getElementById("tutorial2");
      var exit = document.getElementsByClassName("exit")[0];
      var hide = document.getElementsByClassName("next")[0];
      var exit2 = document.getElementsByClassName("exit")[1];
      var hide2 = document.getElementsByClassName("next")[1];

      if (localStorage.getItem("tutorialtoggle") == "1") {
        tutorial2.style.display = "block";
      }

      if (localStorage.getItem("tutorialtoggle") == "0") {
        tutorial2.style.display = "none";
      }

      if (localStorage.getItem("studentprofiletoggle") == "1" && localStorage.getItem("tutorialtoggle") == "1") {
        tutorial2.style.display = "none";
        tutorial3.style.display = "block";
      }

      hide.onclick = function() {
        tutorial2.style.display = "none";
      }

      exit.onclick = function() {
        localStorage.setItem("tutorialtoggle", "0");
        localStorage.setItem("studentprofiletoggle", "0");
        tutorial2.style.display = "none";
      }

      hide2.onclick = function() {
        tutorial3.style.display = "none";
      }

      exit2.onclick = function() {
        localStorage.setItem("tutorialtoggle", "0");
        localStorage.setItem("studentprofiletoggle", "0");
        tutorial3.style.display = "none";
      }
    </script>
