<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="../css/global.css" />
  <link rel="stylesheet" href="../css/student.css" />
</head>

<body>
  <!-- NAV BAR -->
  <%- include("navbar")%>
    <!-- END NAV BAR -->
    <!-- NAME TAG -->
    <section>
      <div class="studentHeader">

        <div class="studentName">
          <h1>
            <%= student.firstname %>'s Profile
          </h1>
        </div>

        <div class="studentInfo">
          <button type="button" onclick="showInfo()" class="studentInfoButton" id="infoButton">
            <h2>INFO</h2>
          </button>

          <button type="button" onclick="showGoals()" class="studentGoalButton" id="goalButton">
            <h2>GOALS</h2>
          </button>

          <a href="/student/<%= student.id%>/student_edit">
            <button class="studentInfoButton">
              <h2>EDIT</h2>
            </button>
          </a>

          <a href="/student/<%= student.id %>/delete" onclick="return confirm('Please confirm to delete this student')"
            class="Delete">
            <button class="studentInfoButton">
              <h2>DELETE</h2>
            </button>
          </a>
          </button>

          <button class="studentInfoButton" id="toggle" onClick="toggle()">
            <h2>VIEW</h2>
          </button>
        </div>

      </div>

      <!-- STUDENT INFO CARD -->
      <div class="overviewcard" id="studentsInfoBox" style="display: none; grid-template-columns: auto">
        Name: <%= student.firstname %>
          <%= student.lastname %> <br>
            Date of Birth: <%= student.dob %> <br>
              Email: <%= student.email %> <br>
                Grade Level: <%= student.grade %> <br>
      </div>
    </section>

    <!-- CREATE NEW GOAL CARD -->
    <div class="cardContainer" id="goalsBox">
      <a href="/student/<%=student.id%>/createNewGoal">
        <div class="goalCardName">
          <div style="max-width: 18rem">
            <div class="card">
              <div class="cardInitial">+</div>
            </div>
          </div>
        </div>
      </a>
      <script>
        console.log("pre goal cards")
      </script>
      <!-- CREATES EACH GOAL CARD -->
      <% goals.forEach(async function(goal) { %>
        
        <div id="<%=goal.id%>" className="changeable">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous"></script>
          <script async>
            console.log("hello");
            console.log("<%=student.id%>/goal/<%=goal.id%>");
            console.log("<%=goal.userid%>")

            console.log(localStorage.getItem("username"))

            if ("<%=goal.userid%>" == localStorage.getItem("username")) {
              console.log("goal is made by user")
              var anchor = document.createElement("a");
              anchor.href = "/student/<%=student.id%>/goal/<%=goal.id%>";
              anchor.id = "cardContainer";
              var card = document.createElement("div");
              card.className = "goalCardName";
              var cardText = document.createElement("div");
              console.log("<%=goal.goalType%>");
              if ("<%=goal.goalType%>".localeCompare("Academic")) {
                cardText.className = "card acaedmic text-white bg-primary mb-3";
              }
              else {
                cardText.className = "card behavior text-white bg-primary mb-3";
              }
              cardText.style = "max-width: 20rem;";
              var cardHeader = document.createElement("div");
              cardHeader.innerHTML = "<%=goal.goalType%>";
              var cardBody = document.createElement("div");
              var cardTitle = document.createElement("h4");
              cardTitle.className = "cardInfo";
              cardTitle.innerHTML = "<%= goal.name %>";
              cardBody.appendChild(cardTitle);
              cardText.appendChild(cardHeader);
              cardText.appendChild(cardBody);
              card.appendChild(cardText);
              anchor.appendChild(card);
              document.getElementById("<%=goal.id%>").appendChild(anchor);
              document.getElementById("<%=goal.id%>").style = "display: "

            }
            else {
              console.log("goal is not made by user")
              var anchor = document.createElement("a");
              anchor.href = "/student/<%=student.id%>/goal/<%=goal.id%>";
              anchor.id = "goalCard";
              var card = document.createElement("div");
              card.className = "goalCardName";
              var cardText = document.createElement("div");
              cardText.className = "card text-white bg-primary mb-3";
              cardText.style = "max-width: 20rem;";
              var cardHeader = document.createElement("div");
              cardHeader.innerHTML = "<%=goal.goalType%>";
              var cardBody = document.createElement("div");
              var cardTitle = document.createElement("h4");
              cardTitle.className = "card-title";
              cardTitle.innerHTML = "<%= goal.name %>";
              cardBody.appendChild(cardTitle);
              cardText.appendChild(cardHeader);
              cardText.appendChild(cardBody);
              card.appendChild(cardText);
              anchor.appendChild(card);
              document.getElementById("<%=goal.id%>").appendChild(anchor);
              document.getElementById("<%=goal.id%>").style = "display: none"
            }
          </script>
        </div>
        <% }); %>

    </div>

</body>

</html>

<script>
  function toggle() {
    var goalsBox = document.getElementById("goalsBox");
    var goals = goalsBox.children;
    for (let i = 0; i < goals.length; i++) {
      if (goals[i].style.display == "none") {
        goals[i].style.display = "";
      }
      else {
        goals[i].style.display = "none";
      }
    }
  }

  function showInfo() {
    document.getElementById('infoButton').style.display = "none";
    document.getElementById("goalButton").style.display = "block";
    var goalsBox = document.getElementById('goalsBox');
    goalsBox.style.display = 'none';
    var studentsInfoBox = document.getElementById('studentsInfoBox');
    studentsInfoBox.style.display = 'block';
  }

  function showGoals() {
    document.getElementById("goalButton").style.display = "none";
    document.getElementById('infoButton').style.display = "block";
    var goalsBox = document.getElementById('goalsBox');
    goalsBox.style.display = '';
    var studentsInfoBox = document.getElementById('studentsInfoBox');
    studentsInfoBox.style.display = 'none';
  }
</script>